body{
    background-color: #cfcccc;
}
@font-face {font-family: roboto_serif; src: url('/fonts/roboto_serif.ttf');} 
@font-face {font-family: old_london; src: url('/fonts/old_london.ttf');} 
html{
    font-family: roboto_serif;
}
#headTitle{
    font-family: old_london;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
img{
    max-height: 50%;
    max-width: 80%;
}