img{
    max-height: 50%;
    max-width: 70%;
    margin-left: 10%;
}
#title,#author,#date{
    margin-left: 10%;
    max-width:70%;
}
#content{
    margin-left: 10%;
    max-width:70%;
}

body{
    background-color: #7AA8BD;
}
@font-face {font-family: roboto_serif; src: url('/fonts/roboto_serif.ttf');} 
@font-face {font-family: old_london; src: url('/fonts/old_london.ttf');} 
html{
    font-family: roboto_serif;
}
#headTitle{
    font-family: old_london;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 110px;
}
#navbar{
    position: fixed;
    margin-right: 10px;
    top: 0;
    right: 0;
    align-items: right;
}
ul{
    list-style-type: none;
}
#menu{
    margin-top:0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}
#sidebar{
    display: flex;
    width: 100px;
    height: 100vh;
    background-color: #BDCFC9;
    right: 0;
    top: 0;
    position: fixed;
    z-index: -5;
}
#category-menu{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right:100px;
    bottom:70px;
    background-color: #95a2a9;
    border-radius: 1rem;
    padding: 1rem;
    transition: all .3s ease;
}
#category-menu li{
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background .2s ease;
}
#categoryElement:hover #category-menu{
    opacity: 1;
    pointer-events:all;
}
#hoverBox{
    width: 50px;
    height:400px;
    right: -20px;
    position:absolute;
}
.cards{
    margin: 0 110px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(225px,1fr));
    gap: 20px;
    font-family: roboto_serif;
}
.card{
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    background-color: rgba(189, 207, 201, 0.4);
}
.cardImage{
    object-fit: cover;
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.cardTitle{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    text-align: center;
}
.cardInfo{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color:#a3b0b6;
    font-size: 0.8em;
    border-bottom: 2px solid #536168;
    align-items: center;
    position: relative;
    margin-bottom: 0px;
}
.cardInfo img{
    float: left;
    margin-right: 10px;
}
.cardViews{
    display: flex;
}
.cardInfo p {
    color: #303030;
    font-size: 1.2em;
}
.horizontal {
    border-bottom: 5px solid black;
    margin-top: 5px;
    width: 90%;
}